.about-mars {
  margin-bottom: 4px;
  background-image: url("../img/scheme320px.png");
  background-repeat: no-repeat;
  background-position: center 651px;
}

.about-mars__container {
  margin: $margin-auto;
  padding-bottom: 262px;
  margin-left: 17px;
  width: $mobile-container-width;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about-mars__headline {
  margin: $margin-auto;
  margin-bottom: 25px;
  width: $mobile-container-width;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  color: $red-color;
  word-wrap: break-word;
}

.about-mars__info-headline {
  margin: 0;
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 700;
  color: $black-color;
  word-wrap: break-word;
}

.about-mars__info-headline--letter-spacing {
  margin-bottom: 19px;
  letter-spacing: 0.6px;
}

.about-mars__paragraph {
  margin: 0;
  font-size: 14px;
  color: #4c4c4c;
  word-wrap: break-word;
}

.about-mars__paragraph--margin {
  margin-top: 12px;
  margin-bottom: 42px;
}

.about-mars__paragraph--another-margin {
  margin-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .about-mars {
    margin-bottom: 13px;
    background-image: url("../img/scheme765px.png");
    background-repeat: no-repeat;
    background-position: center 258px;
  }

  .about-mars__container {
    padding-left: 5px;
    width: 720px;
    justify-content: space-between;
  }

  .about-mars__headline {
    margin-left: 0;
    margin-bottom: 48px;
    width: 485px;
    font-size: 48px;
    line-height: 48px;
  }

  .about-mars__container-info {
    width: 345px;
  }

  .about-mars__info-headline--letter-spacing {
    margin-bottom: 23px;
    letter-spacing: 0.2px;
  }

  .about-mars__paragraph--another-margin {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .about-mars {
    margin-bottom: 10px;
    padding-left: 223px;
    display: flex;
    justify-content: flex-start;
    background-image: url("../img/scheme1600px.png");
    background-repeat: no-repeat;
    background-position: center 35px;
  }

  .about-mars__container {
    margin: 0;
    width: 1000px;
    justify-content: stretch;
  }

  .about-mars__headline {
    margin-bottom: 46px;
    width: 625px;
    font-size: 60px;
    line-height: 60px;
  }

  .about-mars__container-info {
    width: 473px;
  }

  .about-mars__container-info--width {
    width: 368px;
  }

  .about-mars__container-info:first-of-type {
    margin-right: 54px;
  }
}
