.header-nav {
  margin: $margin-auto;
  margin-bottom: 67px;
  padding-top: 15px;
  padding-bottom: 10px;
  width: 290px;
  display: flex;
  justify-content: space-between;
}

.header-nav__project {
  margin: 0;
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 7px;
  width: 96px;
  line-height: 13px;
  color: #ffffff;
  background-image: url("../img/panteon-logo.png");
  background-repeat: no-repeat;
  background-position: 1px 4px;
}

.header-nav__project-name {
  font-size: 13px;
  font-weight: 100;
}

.header-nav__project-name--font-weight {
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-nav__menu-link {
  padding-top: 2px;
  padding-right: 2px;
  display: flex;
  align-items: center;
}

.header-nav__menu {
  display: none;
}

@media (min-width: $tablet-width) {
  .header-nav {
    margin-bottom: 141px;
    padding-top: 20px;
    width: 720px;
  }

  .header-nav__project {
    padding-top: 13px;
    padding-left: 61px;
    width: 118px;
    line-height: 16px;
    background-size: 48px 48px;
    background-position: 2px 4px;
  }

  .header-nav__project-name {
    font-size: 16px;
  }

  .header-nav__project-name--font-weight {
    font-size: 21px;
  }

  .header-nav__menu {
    padding-left: 4px;
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }

  .header-nav__menu-link {
    padding-top: 0;
    padding-bottom: 11px;
    width: 117px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
}

@media (min-width: $desktop-width) {
  .header-nav {
    margin-bottom: 134px;
    padding-top: 30px;
    width: 100%;
    max-width: 1140px;
  }

  .header-nav__project {
    padding-left: 65px;
    padding-bottom: 9px;
    background-position: 2px 7px;
  }

  .header-nav__menu-link {
    padding-bottom: 13px;
  }
}
