.panteon-main {
  width: $mobile-width;
}

@media (min-width: $tablet-width) {
  .panteon-main {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .panteon-main {
    width: 100%;
    max-width: $desktop-max-width;
  }
}
