.panteon-header {
  margin-bottom: 41px;
  width: $mobile-width;
}

.panteon-header__container {
  background-color: #ac1c4a;
  background-image: url("../img/filter320px.jpg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .panteon-header {
    margin-bottom: 48px;
    width: $tablet-width;
  }

  .panteon-header__container {
    background-image: url("../img/filter765px.jpg");
  }
}

@media (min-width: $desktop-width) {
  .panteon-header {
    margin-bottom: 77px;
    width: 100%;
    max-width: $desktop-max-width;
  }

  .panteon-header__container {
    padding-bottom: 30px;
    background-image: url("../img/filter1600px.jpg");
    background-position: center top;
  }
}
