$mobile-width: 320px;
$mobile-container-width: 290px;
$tablet-width: 765px;
$tablet-container-width: 720px;
$desktop-width: 1140px;
$desktop-max-width: 1600px;
$margin-auto: 0 auto;
$white-color: #ffffff;
$black-color: #000000;
$red-color: #e12457;
